<% layout("/layouts/boilerplate.ejs")%>

    <body class="flex flex-col min-h-screen bg-black " onclick="toggleSidebarOnBody(event) ">
        <!-- Header -->

        <main class="relative flex-grow">
            <!-- sidebar starts here -->
            <%- include("../includes/sidebar.ejs")%>
                <!-- sidebar ends here -->


                <section class="mt-44">
                    <div class="flex justify-around mt-10">
                        <div
                            class="flex flex-col w-auto h-auto p-16 text-3xl font-semibold text-white bg-zinc-900 rounded-2xl">
                            <% if(project.requiredSkills.length>0){%>
                                <h1 class="mb-10 text-center text-yellow-400">Skills Requirements</h1>
                                <ul class="flex flex-col gap-6 mt-6 text-2xl text-center skills">
                                    <% for(let i=0 ;i<project.requiredSkills.length ;i++){%>
                                        <li class="flex items-center gap-4">
                                            <img src="/images/check.png" class="justify-start h-8" alt="">
                                            <span class="justify-end">
                                                <%=project.requiredSkills[i]%>
                                            </span>
                                        </li>
                                        <%}%>
                                </ul>
                                <%}else{%>
                                    <h1 class="mb-10 text-center text-yellow-400">No Specific Skills Required</h1>
                                    <%}%>

                        </div>
                        <div
                            class="flex flex-col w-auto h-auto p-16 text-3xl font-semibold text-white bg-zinc-900 rounded-2xl">
                            <% if(project.requiredSkills.length>0){%>
                                <h1 class="mb-10 text-center text-yellow-400">Team Members</h1>
                                <ul class="flex flex-col gap-6 mt-6 text-2xl text-center skills">
                                    <% for(let i=0 ;i<project.members.length ;i++){%>
                                        <li class="flex items-center gap-4">
                                            <img src="/images/user.png" class="justify-start h-8" alt="">
                                            <span class="justify-end">
                                                <%=project.members[i]%>
                                            </span>
                                        </li>
                                        <%}%>
                                </ul>
                                <%}else{%>
                                    <h1 class="mb-10 text-center text-yellow-400">Be the first one to join</h1>
                                    <%}%>

                        </div>
                    </div>
                    <div class="flex justify-center w-full mt-16">
                        <div class="flex flex-col items-center justify-center gap-4">
                            <%if(project.requiredSkills.length>0){%>
                                <div class="flex items-start text-xl">
                                    <div class="flex items-center h-5 mt-1 mr-2">
                                        <input id="terms" aria-describedby="terms" type="checkbox"
                                            class="w-4 h-4 text-xl border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                            required="">
                                    </div>
                                    <div class="ml-3 text-sm">
                                        <label for="terms" class="text-xl font-light text-gray-500 dark:text-gray-300">I
                                            am agree with <span
                                                class="font-medium text-primary-600 dark:text-primary-500">skills
                                                Requirement</span></label>
                                    </div>
                                </div>
                                <%}%>

                                    <div>
                                        <form action="/request/<%=project.userId%>/<%=project.projectName%>"
                                            method="post">
                                            <button
                                                class="w-64 text-xl duration-300 ease-in-out btn btn-warning hover:scale-105">Join
                                                Team</button>
                                        </form>
                                    </div>
                        </div>

                    </div>


                </section>
        </main>
    </body>